@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;800&display=swap');
.app{
  position: relative;
  width: 1152px;
  height: 700px;
  background: #FFFFFF !important;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Saira', sans-serif;
}